<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gorillamoa.routines">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity

            android:name=".MobileConfigurationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".MobileNotificationBehaviourReceiver"
            android:exported="false"/>

        <receiver android:name=".core.receiver.AlarmReceiver"
            android:exported="false"/>

        <receiver android:name=".core.receiver.NotificationDismissReceiver"
            android:exported="false"/>

        <service android:name=".core.services.DataLayerListenerService">
            <intent-filter>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/wakeup"/>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data android:scheme="wear" android:host="*" android:pathPrefix="/wakeup"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/task"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/sleep"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/data/task/mobile/insert"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/data/task/mobile/delete"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/data/task/mobile/update"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/data/progress/"/>
            </intent-filter>
        </service>
    </application>
</manifest>